<!--
Display:
- username and password input area
- create account button
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Register</h1>
<form action="#" th:action="@{'/registration'}" th:object="${sysc4806.models.User}" method="post" id="registrationForm">
    <p>Username: <input type="text" th:field="*{username}" id="username"/></p>
    <p>Password: <input type="text" th:field="*{password}" id="password"/></p>
    <p><input type="submit" value="Register"/></p>
</form>
</body>
</html>