<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Product-Review-Application: View Products</title>
</head>
<body>
<div class="text-center">
    <h1 class="h3 font-weight-normal bg-dark text-white">View Products</h1>
    <div class="text-center mb-3">
        <form style="max-width: 180px;margin: auto;display: inline;" action="#" th:action="@{/createproduct}" method="get" id="createaddressbook">
            <h1 class="h3 mb-3 font-weight-normal">Create Product</h1>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Create Product</button>
        </form>
        <form style="max-width: 180px;margin: auto;display: inline;" action="#" th:action="@{/userProfile}" method="get" id="profile">
            <button type="submit" class="btn btn-lg btn-secondary btn-block">Back to Profile Page</button>
        </form>
    </div>
    <p class="h5 font-weight-normal bg-light text-dark text-left" th:text="'Viewing All Products'"/>
    <table class="table table-bordered table-dark table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Link</th>
            <th>Category</th>
        </tr>
        <tr th:each="product : ${productlist}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.link}"></td>
            <td th:text="${product.category?.label}"></td>
            <td>
                <form action="#" th:action="@{/viewreviews/} + ${product.id}" method="get" id="viewreviews">
                    <button type="submit" class="btn btn-sm btn-success btn-block">See Reviews</button>
                </form>
            </td>
        </tr>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>